<ng-container *ngIf="questions$ | async as questions; else noQuestions">
    <article class="list">
        <div>
            <h2>Not Answered Questions</h2>
            <ng-container
                *ngIf="questions | sortByStatus: questionStatus.Unanswered as unansweredQuestions"
            >
                <ng-container *ngIf="unansweredQuestions.length; else noQuestions">
                    <label class="select" for="select">
                        <select id="select" [(ngModel)]="orderUnanswered">
                            <option [value]="order.DESC">Oldest</option>
                            <option [value]="order.ASC" selected>Newest</option>
                        </select>
                        <svg>
                            <use xlink:href="#select-arrow-down"></use>
                        </svg>
                    </label>
                    <svg class="sprites">
                        <symbol id="select-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </symbol>
                    </svg>

                    <app-card
                        [statusQuestion]="questionStatus.Unanswered"
                        *ngFor="
                            let question of unansweredQuestions | orderByDate: orderUnanswered;
                            trackBy: trackByFn
                        "
                        [question]="question"
                        (answeredQuestion)="answerToQuestion($event)"
                    ></app-card>
                    <app-button text="Add new Question" routerLink="/manage/create"></app-button>
                </ng-container>
            </ng-container>
        </div>
        <div class="list__answered">
            <h2>Answered Questions</h2>
            <ng-container
                *ngIf="questions | sortByStatus: questionStatus.Answered as answeredQuestions"
            >
                <ng-container *ngIf="answeredQuestions.length; else noAnsweredQuestions">
                    <label class="select" for="slct">
                        <select id="slct" [(ngModel)]="orderAnswered">
                            <option [value]="order.DESC">Oldest</option>
                            <option [value]="order.ASC" selected>Newest</option>
                        </select>
                        <svg>
                            <use xlink:href="#select-arrow-down"></use>
                        </svg>
                    </label>
                    <svg class="sprites">
                        <symbol id="select-arrow-down" viewbox="0 0 10 6">
                            <polyline points="1 1 5 5 9 1"></polyline>
                        </symbol>
                    </svg>
                    <app-card
                        [statusQuestion]="questionStatus.Answered"
                        *ngFor="
                            let question of answeredQuestions | orderByDate: orderAnswered;
                            trackBy: trackByFn
                        "
                        [question]="question"
                    >
                        <ng-container top-actions>
                            <button (click)="revertQuestion(question)" class="revert-btn">
                                &#8617; Revert
                            </button>
                        </ng-container>
                    </app-card>
                </ng-container>
                <ng-template #noAnsweredQuestions>
                    <section class="empty-state">
                        <h2>There are no questions</h2>
                    </section>
                </ng-template>
            </ng-container>
        </div>
    </article>
</ng-container>

<ng-template #noQuestions>
    <section class="empty-state">
        <h2>There are no questions</h2>
        <app-button text="Add new Question" routerLink="/manage/create"></app-button>
    </section>
</ng-template>
