.card {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 350px;
  max-width: 500px;
  min-height: 200px;
  padding: 20px;

  background: radial-gradient(#1fe4f5, #3fbafe);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);

  transition: all 0.5s;

  &__actions {
    position: absolute;
    top: 10px;

    color: grey;

    &__date {
      right: 10px;
    }

    &__undo {
      left: 10px;

      background: transparent;
      border: unset;
      cursor: pointer;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);

    transform: scale(1.01);
  }
}
