<form [formGroup]="form">
    <app-input formControlName="title"></app-input>
    <div class="answer">
        <ng-container *ngIf="question.type !== questionType.Open; else openQuestion">
            <div class="option" *ngFor="let option of optionsFormArray.controls; let i = index">
                <div>
                    <ng-container
                        *ngIf="question.type === questionType.Single; else multipleChoice"
                    >
                        <input
                            (click)="selectOption(option.value)"
                            type="radio"
                            [disabled]="status !== 'unanswered'"
                            [checked]="
                                form.value.answer &&
                                form.value.answer[0]?.id === question.options[i].id
                            "
                        />
                    </ng-container>
                    <ng-template #multipleChoice formArrayName="answer">
                        <ng-container [formArrayName]="i">
                            <input formControlName="checked" type="checkbox" />
                        </ng-container>
                    </ng-template>
                </div>
                <ng-container [formGroup]="option">
                    <app-input class="option__input" formControlName="title"></app-input>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <ng-template #openQuestion>
        <app-input class="option__input" formControlName="answer" placeholder="Type your answer"></app-input>
    </ng-template>
    <p class="error" *ngIf="form.touched && form.controls['answer'].getError('required')">
      <ng-container *ngIf="question.type === questionType.Single; else openQuestionError">
        Please chose one option of answer
      </ng-container>
      <ng-template #openQuestionError>
        Please type your answer
      </ng-template>
    </p>
    <p class="error" *ngIf="question.type === questionType.Multiple && form.touched && form.get('answer').getError('minSelected')">
        Please chose one or more option of answer
    </p>
    <app-button
        *ngIf="!question.answer?.length"
        text="Accept"
        (click)="accept()"
    ></app-button>
</form>
