<form [formGroup]="form">
  <app-input formControlName="title"></app-input>
  <div class="answer">
    <ng-container *ngIf="question.type !== questionType.Open">
      <div class="option" *ngFor="let option of optionsFormArray.controls; let i = index">
        <input
          type="radio" formControlName="answer"
          [attr.disabled]="question.answer"
          [checked]="option.value.answer?.id === question.options[i].id"
          [value]="option.value">
        <ng-container [formGroup]="option">
          <app-input class="option__input" formControlName="title"></app-input>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #openQuestion>
      <app-input class="option__input" formControlName="answer"></app-input>
    </ng-template>
  </div>
</form>
