.answer {
  margin-bottom: 15px;
  padding-left: 20px;
}

.option {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 15px;

   &__title {
     margin-top: 15px;
     margin-bottom: 15px;

     font-size: 18px;
   }
}

.error {
  padding: 10px;

  color: red;
  text-align: center;
}
