<form [formGroup]="form">
  <app-input formControlName="title"></app-input>
  <div class="answer">
    <div class="option" *ngFor="let option of question.options; let i = index">
      <div>
        <input
          type="radio"
          formControlName="answer"
          [value]="option"
          [checked]="form.value.answer && option.id === form.value.answer.id"
        />
      </div>
      <div class="option__title">{{ option.title }}</div>
    </div>
    <p class="error" *ngIf="form.touched && form.controls['answer'].getError('required')">
      Please chose one option of answer
    </p>
  </div>
</form>
<app-button *ngIf="status === questionStatus.Unanswered" text="Accept" (click)="accept()"></app-button>
